<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "mobi.gurtom"
    versionCode = "2"
    version     = "0.7.54" >

    <!-- versionCode is optional and Android only -->

    <name>Civil Society App</name>

    <description>
      Software for democracy - the common governance by the civil society
    </description>

    <author href="https://gurtom.mobi" email="gurtom.mobi@gmail.com">
      Andrii Pertsiukh
    </author>

    <gap:plugin name="com.telerik.plugins.nativepagetransitions" version="0.2.2" />

</widget>