<?xml version="1.1" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.1"
    id          = "mobi.gurtom"
    versionCode = "0.7.77"
    version     = "0.7.77" >

    <!-- versionCode is optional and Android only -->

    <name>Civil Society App</name>

    <description>
      Software for democracy - the common governance by the civil society
    </description>

    <author href="https://gurtom.mobi" email="gurtom.mobi@gmail.com">
      Hardeep Shoker
    </author>



</widget>
